* {
  background-color: #0b1c51;
  color: white;
}

header {
  margin: 25px;
}

header h1 {
  text-align: center;
  font-size: 52px;
  margin-bottom: 5px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

header nav ul li a {
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
  }
  header h1 {
    margin: 0;
    font-size: 48px;
  }
}
